<div class="main col-12 container-fluid d-flex py-3 border">
  <div class="logo col-2 d-flex justify-content-center">
    <h1><span class="text-primary">Job</span><span>Seeker</span></h1>
  </div>
  <div class="labels col-5 pt-3 d-flex justify-content-center">
    <div class="col-8">
      <ul class="col-12 d-flex align-items-baseline justify-content-start">
        <li *ngIf="!IsAdminlogged" routerLink="home" [routerLinkActive]="'active_class'" class="me-5">Dashboard</li>
        <li *ngIf="Islogged" routerLink="application" routerLinkActive="active_class">
          Applications
        </li>
      </ul>
    </div>
  </div>
  <div
    *ngIf="!Islogged && !IsAdminlogged"
    class="profile col-5 d-flex justify-content-end align-items-center pe-5"
  >
    <button routerLink="login" class="btn btn-primary h-75 me-3">
      Candidate Sign-up
    </button>
    <button routerLink="adminlogin" class="btn btn-primary h-75 me-3">
      Employee Sign-up
    </button>
  </div>
  

  <div *ngIf="Islogged && !IsAdminlogged" class="dropdown d-flex justify-content-end me-3 col-5">
    <img
      src="https://imgs.search.brave.com/woIFKacyuP0vF2CmvlPkBOnWukh2Gx9JDpAgXZ-HuDg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAwLzY3LzczLzE0/LzM2MF9GXzY3NzMx/NDczX0dBc2RSVUNC/aDdYRWhNM1gwdHB6/YklZRGdIaXJKQWdQ/LmpwZw"
      alt="User Profile"
      [width]="60"
      height="60"
      class="rounded-circle border border-primary btn p-0 me-3 image"
      
    />
    <div class="dropdown-content ">
      <a class="btn btn-danger" (click)="logout()">Logout</a>
    </div>
  </div>

  <div *ngIf="IsAdminlogged" class="admin_profile col-5 d-flex justify-content-end align-items-center pe-3">
    <button class="btn btn-primary" (click)="adminlogout()">Logout</button>
  </div>
</div>
