<div class="main container d-flex mb-3">
  <div
    class="d-flex col-12 flex-column border rounded py-3 px-2 position-relative"
  >
    <div class="position-absolute icon">
      <img src="../../../assets/cmpnylogo.webp" alt="" width="100" />
    </div>
    <div class="job_title">
      <p class="h4">{{ role }}</p>
    </div>
    <div class="company_name">
      <p class="h5">{{ company }}</p>
    </div>
    
    <div class="labels col-8 pt-2">
      <ul class="d-flex justify-content-between flex-wrap">
        <li class="col-12 col-md-auto d-flex justify-content-start">
          <span><i class="bi bi-geo-alt"></i></span><span>{{ location }}</span>
        </li>
        <li class="col-12 col-md-auto d-flex justify-content-start">
          <span><i class="bi bi-cash-coin"></i></span><span>{{ salary }}</span>
        </li>
        <li class="col-12 col-md-auto d-flex justify-content-start">
          <span><i class="bi bi-person"></i></span><span>{{ post }}</span>
        </li>
      </ul>
    </div>
    <div class="buttons col-12 d-flex justify-content-end">
      <button class="btn btn-primary" [routerLink]="route1">
        DETIALS <i class="bi bi-info-circle"></i>
      </button>
      <button
        class="ms-3 btn btn-primary"
        [routerLink]="route2"
        (click)="applynow()"
        [ngClass]="{'disabled':isApplied}"
      >
      <div *ngIf="!isApplied">{{ btnName }}</div>
      <div *ngIf="isApplied">Applied</div>
        
      </button>
    </div>
  </div>
</div>
