<div class="main d-flex flex-column p-4 col-6 mx-auto border my-5 rounded">
  <div class="logo">
    <img
      src="https://imgs.search.brave.com/shj8Cok3VqdrSNMgNT_jF0mDxildv4NtjM61ngoMQh8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy85/Lzk2L01pY3Jvc29m/dF9sb2dvXygyMDEy/KS5zdmc"
      alt=""
      width="200"
    />
  </div>
  <div class="role">
    <h1>{{menudata[0].job_title}}</h1>
  </div>
  <div class="company_name">
    <h1 class="h3">{{menudata[0].company_name}}</h1>
  </div>
  <div class="location">
    <span><i class="bi bi-geo-alt"></i></span><span>{{menudata[0].location}}</span>
  </div>

  <div class="labels col-12 pt-3">
    <ul class="d-flex justify-content-between">
      <li class="d-flex flex-column">
        <div>
          <span><i class="bi bi-geo-alt"></i></span><span>salary</span>
        </div>
        <div>{{menudata[0].salary | currency:'INR':'symbol':'1.0-0'}}/Month</div>
      </li>
      <li class="d-flex flex-column">
        <div>
          <span><i class="bi bi-geo-alt"></i></span><span>openings</span>
        </div>
        <div>{{menudata[0].post_no}}</div>
      </li>
      <li class="d-flex flex-column">
        <div>
          <span><i class="bi bi-geo-alt"></i></span><span>Posted date</span>
        </div>
        <div>{{postdate}}</div>
      </li>
      <li class="d-flex flex-column">
        <div>
          <span><i class="bi bi-geo-alt"></i></span><span>Last date</span>
        </div>
        <div>{{lastdate}}</div>
      </li>
    </ul>
  </div>

  <div class="line"></div>

  <div class="notes py-3">
    <p>
      {{menudata[0].notes}}
    </p>
  </div>

  <div class="line"></div>
  <div class="skillset col-6 py-3">
    <div class=" col-12 py-3 d-flex flex-wrap">
      <p *ngFor="let item of menudata[0].skill" class="skill px-2 mx-1">{{item}}</p>
    </div>

      
  </div>
  <div class="buttons col-12 d-flex justify-content-start">
    <button class="ms-3 btn btn-primary" (click)="applynow(menudata[0]._id,menudata[0].company_id)">APPLY NOW</button>
  </div>
</div>
