<div class="main col-6 mx-auto my-2">
  <div class="company d-flex flex-column">
    <img
      src="https://imgs.search.brave.com/1PiSgXJf6p3fPYyv0Xr6VcujYpFZbh1-v6zEqGx_9M0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jbG91/ZGZyb250LXVzLWVh/c3QtMi5pbWFnZXMu/YXJjcHVibGlzaGlu/Zy5jb20vcmV1dGVy/cy80NjZCSkpRN1BW/R1k1TzUzTlozS0w2/NU1ITS5wbmc"
      alt=""
      width="100"
    />
    <h1 class="mt-1">{{company_name}}</h1>
  </div>
  <div class="d-flex flex-column align-items-center mb-2">
    <button class="btn btn-primary py-3" routerLink="/postjob">
      <i class="bi bi-file-earmark-plus-fill"></i> Post a Job
    </button>
  </div>

  <div class="sort_box d-flex justify-content-end my-2">
    <div class="col-4">
      <select id="jobRole" class="form-select">
        <option value="">Recent</option>
        <option value="developer">Candidate</option>
      </select>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div *ngFor="let item of jobarray">
      <app-job-tile
        btnName="Applicants"
        [route1]="['/adminJobDetials/',item.job_id]"
        [route2]="['/viewApplicants/',item.job_id]"
        [role]="item.job_title"
        [company]="item.company_name"
        [location]="item.location"
        [salary]="item.salary"
        [post]="item.post_no"
      ></app-job-tile>
    </div>
  </div>
</div>
